*
{
    margin: 0;
    padding: 0;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    width: 100vw;
    height: 100vh;
}

html, body
{
    background: #EFFFF9;
}


section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10px;
    padding-right: 10px;

    p 
    {
        color: #ff0000;
        
    }

    p.yellow
    {
        color: yellow;
    }
}


section:nth-child(odd)
{
    justify-content: flex-end;
}